obj/*
bin/*
lib/*
.clangd
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
ar-lib
test-driver
tests/test-suite.log
src/.libs/
src/libdsa.la
src/**/.libs
src/**/*.o
src/**/*.lo
tests/bin
tests/*.o
tests/.deps/
